body{
    background-color: rgb(222, 222, 222);
}
a {
    color: rgb(110, 113, 117);
    transition: 0.5s;
    font-size: 32px;
    margin: 12px;
    text-decoration: none;
    position: relative;
    top: -10px;
    right: 200px;
    font-size: 30px;

}
a:hover{
    color: rgb(179, 182, 184);
    transition: 0.5s;
}
a:active{
    color: rgb(217, 176, 13);
    transition: 0.2s;
}
section{
    font-family: fantasy;
    background-color: rgb(37, 33, 33);
    text-align: right;
    font-size: 70px;
    border-radius: 15px;
    position: fixed;
    top: 0px;
    width: 1470px;
    right: 0px;
    left: 1px;
} 
#img-p{
    position: relative;
    right: 825px; 
    top: -20px;
    font-size: 20px;
    color: rgb(110, 113, 117);

}
#img1{
    width: 70px; 
    position: relative;
    right: 970px;
    top: 7px;
}
.img-a{
    width: 40px;
}
#myfam{
    position: relative;
    top: 50px;
    height: 1095px;
}
.myfam-h{
    font-size: 40px;
    text-align: center;
    color: rgb(55, 55, 55);
    position: relative;
    top:10px;
    font-family: cursive;
}
#mysis1{
    width: 725px;
    background-color: rgb(143, 143, 143);
    right: 5px;
    height: 500px;
}
#mysis{
    width: 730px;
    position: relative;
    left: 730px;
    top: -524.5px;
    background-color: rgb(211, 167, 5);
    height: 500px;

}
.my-h{
    font-family: cursive;
    font-size: 30px ;
    text-align: center;
    color: rgb(55, 55, 55);
}
#mydad{
    width: 725px;
    right: 5px;
    height: 500px;
    background-color: rgb(211, 167, 5);
    position: relative;
    top: -543px;
    left: 0;
}
#mymom{
    width: 730px;
    position: relative;
    left: 730px;
    top: -1068px;
    height: 500px;
    background-color: rgb(143, 143, 143);

}
.myimg{
    width: 200px;
    position: relative;
    left: 20px;
}
.mys{
    width: 300px;
    position: relative;
    left: 20px;
    top: 50px;
}
li{
    font-family: cursive;
    font-size: 30px ;
    color: rgb(55, 55, 55);
}
#mysis1-ul{
    position: relative;
    left: 230px;
    top: -200px;
}
#mysis-ul{
    position: relative;
    left: 315px;
    top: -150px;
}
#mydad-ul{
    position: relative;
    left: 230px;
    top: -300px;
}
#mymom-ul{
    position: relative;
    left: 315px;
    top: -150px;
}
ul{
    width: 325px;
}
@media screen and (max-width: 400px) {
    #mydad{
        width: 647px;
        right: 5px;
        height: 500px;
        background-color: rgb(211, 167, 5);
        position: relative;
        top: -545.5px;
        left: 0;
    }
    #mymom{
        width: 650px;
        position: relative;
        left: 650px;
        top: -1070px;
        height: 500px;
        background-color: rgb(143, 143, 143);
    }
    #mysis1{
        width: 647px;
        background-color: rgb(143, 143, 143);
        right: 5px;
        height: 500px;
    }
    #mysis{
        width: 650px;
        position: relative;
        left: 650px;
        top: -524.5px;
        background-color: rgb(211, 167, 5);
        height: 500px;
    
    }
}
@media screen and (max-width: 400px) {
    body{
        background-color: rgb(222, 222, 222);
    }
    a {
        color: rgb(110, 113, 117);
        transition: 0.5s;
        margin:10px;
        text-decoration: none;
        position: relative;
        top: -10px;
        right: 5px;
        font-size: 15px;
    
    }
    a:hover{
        color: rgb(179, 182, 184);
        transition: 0.5s;
    }
    a:active{
        color: rgb(217, 176, 13);
        transition: 0.2s;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    } 
    #img-p{
        position: relative;
        right: 0px; 
        top: -10px;
        font-size: 12px;
        color: rgb(110, 113, 117);
    
    }
    #img1{
        width: 40px; 
        position: relative;
        right: 80px;
        top: 5px;
    }
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    .myfam-h{
        font-size: 30px;
        text-align: center;
        color: rgb(55, 55, 55);
        position: relative;
        top:-30px;
        font-family: cursive;
    }
    #mysis1{
        width: 400px;
        background-color: rgb(143, 143, 143);
        right: 7.5px;
        height: 230px;
        position: relative;
        top: -30px;
    }
    #mysis{
        width: 400px;
        position: relative;
        left: -7.5px;
        top: -47px;
        background-color: rgb(211, 167, 5);
        height: 230px;
    
    }
    .my-h{
        font-family: cursive;
        font-size: 20px ;
        text-align: center;
        color: rgb(55, 55, 55);
    }
    #mydad{
        width: 401px;
        /* right: 5px; */
        height: 250px;
        background-color: rgb(211, 167, 5);
        position: relative;
        top: 165px;
        left: -8px;
    }
    #mymom{
        width: 401px;
        position: relative;
        left: -8px;
        top: -331px;
        height: 230px;
        background-color: rgb(143, 143, 143);
    
    }
    .myimg{
        width: 110px;
        position: relative;
        left: 10px;
        top: -10px;
    }
    .mys{
        width: 170px;
        position: relative;
        left: 5px;
        top: 15px;
    }
    li{
        font-family: cursive;
        font-size: 15px ;
        color: rgb(55, 55, 55);
    }
    #mysis1-ul{
        position: relative;
        left: 120px;
        top: -160px;
    }
    #mysis-ul{
        position: relative;
        left: 159px;
        top: -100px;
    }
    #mydad-ul{
        position: relative;
        left: 110px;
        top: -170px;
    }
    #mymom-ul{
        position: relative;
        left: 160px;
        top: -100px;
    }
    ul{
        width: 170px;
    }
}
@media screen and (max-width: 380px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 370px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 375px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 360px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 350px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 340px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}@media screen and (max-width: 420px){
    #myfam{
        height: 310px;
        position: relative;
        top: 80px;
        width: 100%;
    }
    section{
        font-family: fantasy;
        background-color: rgb(37, 33, 33);
        text-align: right;
        font-size: 10px;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        height: 50px;
        width: 100%;
        right: 0px;
        left: 0px;
    }
}