header img{
    width: 7%;
    position: relative;
    top: -30%;
    left: 12%;
}
a{
  text-decoration: none;
}
dir#header{
    margin: 0px;
    position: relative;
    left: 55%;
    bottom: 60px;
    display: inline;
}
body{
    margin: 0px;
}
dir#header a {
    text-decoration: none;
    color: rgb(183, 227, 206);
    font-size: 140%;
    font-family: "South Park";
    /* display: inline; */
    margin-right: 15px;
    transition: 70ms;
}
dir#header a:hover{
    color: rgb(232, 249, 240);
    transition: 70ms;
}
dir#header a:active{
    color: rgb(232, 249, 240);
    transition: 70ms;
}
dir#header a.main{
    color: rgb(77, 108, 93);
}
body{
    background-image: url(i.png);
}
header{
    background-color: rgba(14, 14, 14, 0.77);
    height: 70px;
    width: 100vw;
    top: 0px;
    z-index: 99999;
    /* padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 30px; */
    position: fixed;
}
#main {
    position: relative;
    left: 1000px; /* начальное значение непрозрачности */
    animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 600ms; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn {
    0% {
        left: 1000px;
        opacity: 0;
      }
      60% {
          left: 50px;
      }
      80%{
          opacity: 1;
      }
      100% {
        left: 1px;
      }
  }
#aboutMe {
    position: relative;
    left: 1000px; /* начальное значение непрозрачности */
    animation: fadeIn1 ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 750ms; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn1 {
    0% {
        left: 1000px;
        opacity: 0;
      }
      60% {
          left: 50px;
      }
      80%{
          opacity: 1;
      }
      100% {
        left: 1px;
      }
  }
  #contacts {
    position: relative;
    left: 1000px; /* начальное значение непрозрачности */
    animation: fadeIn2 ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 900ms; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn2 {
    0% {
      left: 1000px;
      opacity: 0;
    }
    60% {
        left: 50px;
    }
    80%{
        opacity: 1;
    }
    100% {
      left: 1px;
    }
  }
  #img-header {
    right: 1000px; /* начальное значение непрозрачности */
    animation: fadeIn3 ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 900ms; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn3 {
    0% {
      right: 1000px;
      opacity: 0;
    }
    60% {
        right: 50px;
    }
    80% {
      opacity: 1;
    }
    100% {
        right: 1px;
    }
  }
dir#port {
    /* display: inline; */
    background-color: rgb(60, 60, 60);
    width: 75%;
    height: 380px;
    position: relative;
    left: 12%;
    opacity: 85%;
    top: 100px;
    border-radius: 8px;
}
dir#contacts1 h1{
    color: rgb(183, 227, 206);
    font-size: 250%;
    font-family: "South Park";
    position: relative;
    left: 35%;
    top: 40px;
    display: inline;
}
dir#main1 h1{
    color: rgb(183, 227, 206);
    font-size: 250%;
    font-family: "South Park";
    position: relative;
    left: 32%;
    top: 40px;
    display: inline;
}
dir#aboutMe1 h1{
    color: rgb(183, 227, 206);
    font-size: 250%;
    font-family: "South Park";
    position: relative;
    left: 410px;
    top: 40px;
    display: inline;
}
dir.port p{
    font-size: 25px;
    color: rgb(183, 227, 206);
    position: relative;
    top: 45px;
    width: 700px;
    left: 160px

}
dir.port {
    position: relative;
    opacity: 0; /* начальное значение непрозрачности */
    animation: fadeIn6 ease-in 1; /* добавляем анимацию fadeIn */
    animation-fill-mode: forwards; /* будет видимым после завершения анимации */
    animation-duration: 900ms; /* длительность анимации в 1 секунду */
  }
  
  @keyframes fadeIn6 {
    0% {
      opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
dir p img{
  width: 50px;
  position: relative;
  top: 19px;
}
a#inst{
  position: relative;
  bottom: 13px;
}
@font-face {
    font-family: "South Park";
    src: url(SouthPark.otf);
}
